/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

*{
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'Roboto', sans-serif;
}

:root{
    --dark-blue:rgb(0,25,76);
    --orange:#cdab6d;
    --white:#ffffff;
    --gray:#85868C;

}

